.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-btn {
  padding: 15px 80px;
  color: black;
  border: 1px solid black;
  background: transparent;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: black;
  color: white;
}