.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 100;
}

.footer-nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 20px; /* tamaño de los emojis/icons */
  transition: transform 0.2s, color 0.2s;
}

