.booking-image-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.booking-image {
  max-width: 400px; /* Limita el tamaño máximo */
  width: 100%;       /* Responsive */
  border-radius: 10px;
  object-fit: cover;
}
